body {
  background-color: #b4a7d6; /*b4a7d6 6a329f*/
  /*background-image: url('https://static-cdn.jtvnw.net/jtv_user_pictures/a2951234-c066-425a-83d8-1888decbf90c-profile_banner-480.jpeg') ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-size: 1920px ;
  background-position: center ;*/
}

.tab { /*Leiste unter der Überschrift*/
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
}

.tab button { /*Buttons der Leiste s.o.*/
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    font-size: 0.75em;
}

.tab button:hover { /*Farbe der Buttons*/
    background-color: #cccccc;
}

.tabContent {
    background-color: #f1f1f1;
    display: none;
    animation: fadeEffect 320ms;
    border-top: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #dddddd;
    margin-bottom: 12px;
}

table {
    display: table;
}

th {
  font-size: 0.9em;
}

th.priceWithData {
    width: 20%;
}
th.karmaType {
  width: 20%;
}
th.price {
    width: 15%;
}
th.author {
  width: 30%;
}
th.version {
  width: 20%;
}
td.description {
    font-size: 0.8em;
}
span.eventRedirect {
  cursor: pointer;
  text-decoration: underline;
  color:#22527b;; 
}
span.metadata {
    font-size: 0.8em;
    padding: 0px;
    font-style: italic;
    color: #5a5454;
}

@media screen and (max-width: break) {
  th.priceWithData {
    font-size: 0.9em;
  }
  th.price {
      font-size: 0.9em;
  }
  td.description {
    font-size: 0.8em;
  }
  span.metadata {
    font-size: 0.8em;
    padding: 0px;
    font-style: italic;
    color: #5a5454;
  }
}

@media screen and (max-width: sm-break) {
  th.priceWithData {
    font-size: 0.85em;
  }
  th.price {
    font-size: 0.85em;
  }
  td.description {
    font-size: 0.8em;
  }
  span.metadata {
    font-size: 0.85em;
    font-style: italic;
    color: #5a5454; 
  }
}

.site-header {
    background-image: url('https://cdn.discordapp.com/attachments/1175735556307697716/1237146610434314334/Logo_A.png?ex=66904791&is=668ef611&hm=1cf73b4e7c4447ea232781841b81b51cbb872c037a0a3eb181f0ead23c460a42&');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    height: 100px; 
}
